apiVersion: v1
kind: Service
metadata:
  name: polybalance
spec:
  type: NodePort
  selector:
    app: polybalance
  ports:
    - name: http
      port: 80
      targetPort: 8080
    - name: metrics
      port: 9090
      targetPort: 9090
